# Add data to the database from pandas

In [8]:
from sqlalchemy import create_engine
from datetime import datetime
import pandas as pd
import json
import shutil
import os
import sys

In [9]:
postgresname = 'postgresql://postgres:mysecretpassword@localhost:5432/hubitatlogs'

In [10]:
engine = create_engine(postgresname, echo=False)

In [11]:
rootdir = '/home/tony/node-red-logs/'

In [13]:
filename = rootdir + 'eventsocket.txt'
if os.path.exists(filename):
    with open(filename) as f:
        rawdata = f.read().splitlines()
else:
    rawdata = []

In [14]:
rawdata = [json.loads(i) for i in rawdata]

In [15]:
df = pd.DataFrame(rawdata)
df.index = pd.to_datetime(df.timestamp)

AttributeError: 'DataFrame' object has no attribute 'timestamp'

In [133]:
unique_name = df.name.unique()
df.name.unique()

array(['switch', 'temperature', 'humidity', 'pressure', 'lastCheckin',
       'battery', 'colorName', 'colorMode', 'level', 'sunset',
       'sunsetTime', 'ThermoScheduler', 'heatingSetpoint',
       'coolingSetpoint', 'thermostatOperatingState',
       'thermostatSetpoint', 'thermostatFanMode', 'deviceJoin',
       'colorTemperature', 'webCoRE', 'sunrise', 'sunriseTime',
       'thermostatMode', 'lastOpened', 'contact', 'lastClosed'],
      dtype=object)

In [134]:
df.drop('timestamp', axis=1, inplace=True)
df.head()

,source,name,displayName,value,unit,deviceId,hubId,locationId,installedAppId,descriptionText
timestamp,,,,,,,,,,
2020-03-19 22:10:27.440000+00:00,DEVICE,switch,Living room light,on,None,35.0,NaN,NaN,NaN,Living room light was turned on
2020-03-19 22:10:29.490000+00:00,DEVICE,switch,Living room light,off,None,35.0,NaN,NaN,NaN,Living room light was turned off
2020-03-19 22:11:26.622000+00:00,DEVICE,temperature,Bedroom temperature,69.4,째F,3.0,NaN,NaN,NaN,Temperature is 69.4째F
2020-03-19 22:11:26.633000+00:00,DEVICE,humidity,Bedroom temperature,43.4,%,3.0,NaN,NaN,NaN,Humidity is 43.4%
2020-03-19 22:11:26.658000+00:00,DEVICE,pressure,Bedroom temperature,966.8,mbar,3.0,NaN,NaN,NaN,Pressure is 966.8 mbar

In [135]:
aa = df[df.name=='temperature']

In [136]:
aa.dtypes

source              object
name                object
displayName         object
value               object
unit                object
deviceId           float64
hubId              float64
locationId         float64
installedAppId     float64
descriptionText     object
dtype: object

In [137]:
aa.infer_objects().dtypes

source              object
name                object
displayName         object
value               object
unit                object
deviceId           float64
hubId              float64
locationId         float64
installedAppId     float64
descriptionText     object
dtype: object

In [138]:
float_dict = ['humidity', 'pressure', 'temperature']

In [139]:
for nameval in unique_name:
    aa = df[df.name==nameval]
    if nameval in float_dict:
        aa.value = aa.value.astype(float)
    aa.to_sql(nameval, con=engine, if_exists='append')

/home/tony/.local/lib/python3.6/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [140]:
timenow = datetime.now()
timenow = timenow.strftime('%Y%m%d_%H%M%S')

In [141]:
backupfile = rootdir + 'backup/' + timenow + '.txt'

In [142]:
backupfile

'/home/tony/node-red-logs/backup/20200323_064724.txt'

In [143]:
shutil.move(filename, backupfile)

'/home/tony/node-red-logs/backup/20200323_064724.txt'